<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESSIBILITY_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UltimateSecurity"
        tools:targetApi="31"
        android:name=".App">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SelectAppsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar" />
        <activity
            android:name=".applocker.FakeCrashActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UltimateSecurity.FakeCrash" />
        <activity
            android:name=".applocker.PasswordInputActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UltimateSecurity.FakeCrash" />
        <activity
            android:name=".applocker.UnlockModeActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UltimateSecurity.FakeCrash" />
        <activity
            android:name=".unlockprotection.ActionsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar" />
        <activity
            android:name=".unlockprotection.AlarmSettingsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar" />
        <activity
            android:name=".unlockprotection.IntruderPhotoSettingsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar" />
        <service
            android:name=".IntruderPhotoService"
            android:exported="false"
            android:foregroundServiceType="camera" />

        <receiver
            android:name=".UpdateCheckerBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ru.morozovit.ultimatesecurity.UpdateCheckerBroadcastReceiver.START_UPDATE_CHECKER" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".Service"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <service android:name=".UpdateCheckerService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver android:name=".UpdateCheckerService$Companion$DownloadBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="UpdateCheckerService.DOWNLOAD" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DeviceAdmin"
            android:description="@string/app_name"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>