<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESSIBILITY_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_3"
        android:roundIcon="@mipmap/app_icon_3_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.UltimateSecurity"
        tools:targetApi="35"
        android:name=".App"
        android:enableOnBackInvokedCallback="true">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.UltimateSecurity.SplashScreen"
            android:configChanges="keyboardHidden|navigation|keyboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="toolbox-io" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.GuideActivity"
            android:theme="@style/Theme.UltimateSecurity.ToolboxIOWebsite" />
        <activity
            android:name=".ui.main.DeveloperOptionsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar" />
        <activity android:name=".ui.main.GreenScreenActivity" />

        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.applocker.SelectAppsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.applocker.FakeCrashActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.FakeCrash"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|grammaticalGender|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" />
        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.applocker.PasswordInputActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.FakeCrash"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|grammaticalGender|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="false" />
        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.ActionsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.unlockprotection.AlarmSettingsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.unlockprotection.intruderphoto.IntruderPhotoSettingsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <!--<activity
            android:name="ru.morozovit.ultimatesecurity.ui.protection.unlockprotection.intruderphoto.IntruderPhotoActivity"
            android:theme="@style/Theme.UltimateSecurity.ImageViewer"
            android:configChanges="orientation|keyboardHidden|screenSize" />-->
        <activity
            android:name=".ui.AuthActivity"
            android:theme="@style/Theme.UltimateSecurity.SplashScreen"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|grammaticalGender|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" />
        <service
            android:name="ru.morozovit.ultimatesecurity.ui.protection.unlockprotection.intruderphoto.IntruderPhotoService"
            android:exported="false"
            android:foregroundServiceType="camera" />
        <activity
            android:name=".ui.customization.shortcuts.FilesShortcut"
            android:theme="@style/Theme.SplashScreen.Files" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.UltimateSecurity.Licenses" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.UltimateSecurity.Licenses" />

        <activity
            android:name=".ui.tools.appmanager.AppInfoActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:exported="false"  />
        <activity
            android:name=".ui.tools.appmanager.ChooseActivityActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:exported="false" />

        <activity
            android:name=".share.SaveActivity"
            android:exported="true"
            android:label="@string/save_file"
            android:icon="@mipmap/files_icon">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity android:name="ru.morozovit.android.ui.IntentActivity" />

        <activity
            android:name=".IssueReporter$ExceptionDetailsActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".IssueReporter$OneQuestionActivity"
            android:theme="@style/Theme.UltimateSecurity.NoActionBar"
            android:exported="false" />

        <receiver
            android:name=".services.UpdateChecker$Companion$Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ru.morozovit.ultimatesecurity.UpdateChecker.START" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
            </intent-filter>
        </receiver>
        <service
            android:name=".services.Accessibility"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".services.AccessibilityKeeperService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <service
            android:name=".services.UpdateChecker"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".services.UpdateChecker$Companion$DownloadBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="UpdateChecker.DOWNLOAD" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".services.DeviceAdmin"
            android:description="@string/app_name"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.tiles.SleepTile"
            android:exported="true"
            android:label="@string/sleep"
            android:icon="@drawable/sleep"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>